.Login {
    background-color: #ffffff; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.formsss{
    background-color: rgb(240, 240, 240);
    padding: 50px;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.headerlogin{
    display: flex;
}

.headerlogin a{
    color: #ffffff;
    align-items: right;
}

.dropdown{
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.select{
    background: #2a2f2a;
    color: #ffffff;
    display: flex;
    justify-self: space-between;
    align-items: center;
    border: 2px #2a2f2a solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked{
    border: 2px #26489a solid;
} 

.select:hover{
    background: #323232;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}


.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5ba;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    display: none;
    opacity: 0;
    transition: 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5 em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #2a2d35;   
}

.active{
    background: #23242a;
}

.menu-open{
    display: block;
    opacity: 1;
}
